---
const { data } = Astro.props;
const { navn } = Astro.props;
const { kategori } = Astro.props;
console.log(data);
---

<section class="gallery-section" id="natur">
    <h2>Natur</h2>
    <div class="two-columns">
        <div class="left-column">
            <div class="image-container">
                <img src="Images/Fyrretrae_Nordic_Reflections_Copyright_1-1_b.webp" alt="Fyrretræ" class="side-image">
                <h2>Fyrretræ i naturen</h2>
                <p>Et fyrretræ præget af tidens gang.</p>
            </div>
            <div class="image-container">
                <img src="Images/Platantrae_Nordic_Reflections_Copyright_1-1_a.webp" alt="Platantræet" class="side-image">
                <h2>Platantræet</h2>
                <p>Platantræet, der står stolt i landskabet.</p>
            </div>
        </div>
        <div class="right-column">
            <div class="image-container">
                <img src="Images/Netstokket.webp" alt="Netstokket Indigoroerhat" class="right-image">
                <h2>Netstokket Indigoroerhat</h2>
                <p>En smuk og unik plante i naturen.</p>
            </div>
        </div>
    </div>
</section>

  <style>
    .gallery-section {
    width: 100%;
    height: 100vh; /* Fylder hele højden af skærmen */
    padding: 40px 0;
    box-sizing: border-box;
}

#gallery h1 {
    font-family: "Playfair Display", serif;
    font-size: 3em;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    color: #000;
}

#gallery h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    text-align: center;
    color: #000;
    
}

#gallery p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    width: 55%;
    margin: 0 auto; /* Centrerer elementet horisontalt */
    text-align: center; /* Centrerer teksten inden i elementet */
    color: #000;
    padding-bottom: 25px;
}

#havet, #natur, #sommerfugle {
    width: 100%;
    height: auto;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.image-container {
    text-align: center;
}

.side-image, .large-image, .right-image {
    width: 70%;
    height: auto;
    border-radius: 8px;
}

.right-image {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-top: 150px;
}

.large-image {
    margin: 20px auto;
    display: block;
}

.two-columns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10% auto;
}

.left-column, .right-column {
    width: 45%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-content: center;
    max-width: 80%;
    margin: 20px auto;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Mobile version */
@media (max-width: 768px) {
    .gallery-section {
        padding: 20px 0;
    }

    .image-row {
        flex-direction: column;
        align-items: center;
    }

    .side-image {
        width: 80%;
    }

    .two-columns {
        flex-direction: column;
        margin: 10% auto;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    #gallery p {
        font-family: 'Poppins', sans-serif;
        font-size: 0.8em;
        width: 75%;
        margin: 0 auto; /* Centrerer elementet horisontalt */
        text-align: center; /* Centrerer teksten inden i elementet */
        color: #000;
        padding-bottom: 25px;
    }
}
  </style>